<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Super Idol</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="./css/index.css"  media="all">
  <link rel="stylesheet" href="./layui/css/modules/layer/default/layer.css"  media="all">
  <script type="text/javascript" src="./js/jquery-3.3.1.js"></script>
  <script src="./js/vue.min.js"></script>
  <script src="./js/axios.min.js"></script>
  <script src="./layui/lay/modules/layer.js" charset="utf-8"></script>
  <script src="./layui/layui.js" charset="utf-8"></script>
  <script src="./js/index.js" charset="utf-8"></script>
  <script src="./js/logout.js" charset="utf-8"></script>
</head>
<body onload="loadUserInfo()">
<ul class="layui-nav header-ui">
  <li class="layui-nav-item" id="admin_access">
    <a href="admin.html">控制台</a>
  </li>
  <li class="layui-nav-item" id="personal-manage">
    <a href="uinfo.html">个人中心</a>
  </li>
  <li class="layui-nav-item" id="login-nav">
    <a href="login.html">登录</a>
  </li>
  <li class="layui-nav-item">
    <a href="register.html">注册</a>
  </li>
  <li class="layui-nav-item" lay-unselect="">
    <a href="javascript:;"><img src="./imgs/default.jpg" class="layui-nav-img" id="user_profile"><span id="user_name"></span></a>
    <dl class="layui-nav-child" id="user-option-child">
    </dl>
  </li>
   <li class="layui-nav-item">
    <a href="">更多</a>
     <dl class="layui-nav-child">
      <dd><a href="about.html">关于</a></dd>
      <dd><a href="javascript:;">服务</a></dd>
    </dl>
  </li>
</ul>
<div class="banner">
	<img src="./imgs/banner.jpg" width="100%">
</div>
<div class="menu">
	<div class="menu-potion">
		<span class="layui-breadcrumb" lay-separator="|" style="display: block;">
		<br/>
		  <a href=index.html style="font-size: 20px;font-weight: bold">全部</a>
		  <a href=javascript:different_types("0") style="font-size: 20px;font-weight: bold">科技榜</a>
		  <a href=javascript:different_types("1") style="font-size: 20px;font-weight: bold">爱国榜</a>
		  <a href=javascript:different_types("2") style="font-size: 20px;font-weight: bold">学习榜</a>
		  <a href=javascript:different_types("3") style="font-size: 20px;font-weight: bold">敬业榜</a>
		  <a href=javascript:different_types("4") style="font-size: 20px;font-weight: bold">光荣榜</a>
		  <a href=javascript:different_types("5") style="font-size: 20px;font-weight: bold">富强榜</a>
		</span>
	</div>
</div>
<div id="app">
<div class="advertise_right">
承接公益广告位1
</div>
<div class="advertise_left">
承接公益广告位2
</div>
<div class="right">
	<div class="right_top" style="overflow: hidden;">
		<p align="center" style="color: red;font-size: 22px;font-weight: bold;font-style: oblique;">最新动态</p>
		<ol v-for="essay in essays">
			<li><p align="center" style="font-size: 18px;font-style: italic;">【--{{essay.type}}--】更新了一篇【{{essay.from}}】文章，快去查看吧！</p></li><hr/>
		</ol>
	</div>
	<div class="right_mid">
		<div class="layui-carousel imgs-center" id="test1">
		  <div carousel-item>
		    <div style="text-align :center"><div style="margin: 0px auto"><img src=./imgs/cq.jpg></div></div>
		    <div style="text-align :center"><div style="margin: 0px auto"><img src="./imgs/cq1.jpg"></div></div>
		    <div style="text-align :center"><div style="margin: 0px auto"><img src="./imgs/cq3.jpg"></div></div>
		    <div style="text-align :center"><div style="margin: 0px auto"><img src="./imgs/cq4.jpg"></div></div>
		    <div style="text-align :center"><div style="margin: 0px auto"><img src="./imgs/cq5.jpg"></div></div>
		    <div style="text-align :center"><div style="margin: 0px auto"><img src="./imgs/cq6.jpg"></div></div>
		  </div>
	   </div>
	</div>
	<div class="right_bot">
	<p align="center" style="color: red;font-size: 22px;font-weight: bold;font-style: oblique;">【*****公告****】</p>
		<div style="width: 90%;height: 12%;margin: 10px 10px 10px 10px;" v-for="notice in notices">
			<span style=""><p align="center">{{notice.content}}</p></span><hr/>
		</div>
	</div>
</div>
<div class="left">
	<div class="left_list_item" style="float: left;" v-for="essay in essays">
	<p align="center"><i class="layui-icon layui-icon-note" style="font-size: 30px; color: red;" id="essay"><a v-bind:href=essay.essayid target="_blank" style="font-size: 20px">（{{essay.from}}）【{{essay.title}}】--{{essay.time}}</a></i></p>
	</div>
</div>
</div>
<script>
</script>
<div style="margin-left: 40%;margin-right: 30%;width: 40%;">
 		<span class="layui-breadcrumb" lay-separator="|" style="display: block;">
 		  <a href="" style="font-weight: bold"></a>
		  <a href="https://www.runoob.com/" style="font-size:18px; font-weight:bold">新手建站</a>
		  <a href="https://spring.io/" style="font-size:18px;font-weight: bold">技术支持</a>
		  <a href="" style="font-size:18px;font-weight: bold">广告服务</a>
		  <a href="" style="font-size:18px;font-weight: bold">交流合作</a>
		  <a href="" style="font-size:18px;font-weight: bold"></a>
		</span>
</div>
 <div class="footer">
 	<div id="copyr">
 		<p align="center">©Super Idol 2019-2022 版权归Charles所有</p>
 	</div>
 	<div id="msg">
 		 <p align="center">备案号:渝ICP备10011001号-1 </p>
 	</div>
 </div>
<script src="./layui/layui.js" charset="utf-8"></script>
</body>
</html>